h5 {{title}}
div(ab-greeting, ng-repeat='person in people', name='{{person.name}}', age='{{person.age}}')
.row
div(ab-clock, frequency='1000')
.row
div(ab-stock, ng-repeat='symbol in symbols', symbol='{{symbol}}')
.row
div(ab-weather, zip='37204')
div(ab-weather, zip='80110')



