.panel.panel-default
  .panel-body
    h3 {{movieTitle}}
    img(ng-src='{{posterUrl}}')
    p Released: {{release}}
    p {{rating}}
    p {{length}} mins
    h6 Cast:
    ul
      li(ng-repeat='actor in actors') {{actor}}
    button(ng-click='remove()') x
